.cart-container {
  padding: 20px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

.whole-container {
  overflow-y: auto;
  padding-bottom: 20px;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  flex: 1;
  margin-right: 10px
}

.cart-empty {
  font-size: 18px;
  color: #888;
  margin-top: 10px;
}

.cart-list {
  list-style: none;
  padding: 0;
  border-bottom: 2px solid black;
}

.cart-items-container {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #ccc;
  width: 450px;
  height: 500px;
}

.cart-container span {
  margin-top: 20px;
}

.cart-container h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.cart-item-img-cart {
  width: 49px;
  object-fit: cover;
}

.cart-item-cart {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 20px;
  margin-bottom: 20px;
}

.cart-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding-bottom: 30px;
}

.cart-item-cart li{
  display: flex;
  margin-bottom: 20px;
  align-items: baseline;
}

.original-price {
  text-decoration: line-through;
  display: inline-block;
  margin-right: 10px;
}

.discounted-price {
  color: red;
  font-weight: bold;
}

.cart-item-detail-cart {
  display: flex;
  flex: 1;
  padding: 0 20px;
  flex-direction: column;
  color: black;
  justify-content: center;
  align-items: flex-start;
}

.cart-item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item-price {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cart-remove-btn {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.cart-total-price {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.cart-clear-btn {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  margin-left: 50px;
}

.cart-pay-btn {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  margin-right: 50px;
}

.billing-info form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.billing-info div {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.billing-info {
  padding: 20px;
  flex: 1 1 40%;
}

.billing-info h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 5px;
}

.billing-info label {
  margin-bottom: 10px;
  margin-right: 20px;
}

.billing-info label span {
  margin-right: 10px;
  width: 100px; /* adjust the width as necessary */
}

.billing-info label:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.billing-info input {
  display: block;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.billing-info button {
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
}

.billing-info button:hover {
  background-color: #0069d9;
}

.payment-info {
  display: flex;
  flex-direction: column;
}

.payment-info form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.payment-info label {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.payment-info label input[type="radio"] {
  margin-right: 10px;
}

.payment-info-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.payment-info input {
  display: block;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-top: 0.5rem;
  padding: 0.5rem;
}
