.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.modal-botton {
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  margin-left: 15px;
  height: 50px;
  width: 40px;
  padding-top: 1rem;
}

.x {
  height: 40px !important;;
  width: 30px !important;;
}

.modal-dialog {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position:fixed;
  width:100%;
  height: 100%;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  background: rgba(0, 0, 0, 0.6);
  border: 2px solid #ccc;
  border-radius: 5px;
  overflow-y: auto;
}

.modal-header {
  text-align: center;
}

.modal-body {
  text-align: center;
  font-size: 1.2rem;
}

.modal-footer {
  padding-bottom: 15px;
}

.modal-card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: bold;
  align-items: center;
}

.modal-card-text {
  font-size: 1rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.modal-container {
  background-color: white;
  height: auto;
  padding-top: 5rem;
  width: 500px;
}

.payment-method {
  height: 75px;
  width: 270px;
}

.shipping {
  color: limegreen;
}
