
.cart-icon span{
  position: absolute;
  right: 27px;
  top: 25px;
  display: flex;
  justify-content: flex-end;
}

.cart-quantity {
  padding: 3px;
  color: white;
  border-radius: 50%;
}

.fa-shopping-cart {
  color: white;
  font-size: 1.2rem;
  margin-right: 10px;
}

.svg-inline--fa.fa-cart-shopping {
  color: white;
  margin-right: 40px;
  margin-left: 120px;
}
