.card {
  flex: 0 0 calc(26% - 20px);
  margin: 0 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #ccc;
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex !important;
  align-content: space-around;
  align-items: center;
  flex-direction: column;
  color: white;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 10px;
}

.item-count-container {
  margin-top: 10px;
  text-align: center;
}
