.item {
  width: 100px;
  height: 100px;
  background-color: #cc9;
  border: 1px solid #040;
}

.item-selected {
  width: 100px;
  height: 100px;
  background-color: #cc9;
  border: 5px solid #f40;
}
