.navbar {
  background-color: black;
  box-shadow: 0 4px 4px #f2f2f2;
  padding: 10px;
  font-size: 1.1rem;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: left;
  letter-spacing: -1px;
  color: white
}

.dropdown-toggle {
  background-color: black !important;
  border: none !important;
}

.navbar-brand img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

.cart-item-img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  margin-bottom: 20px;
}

.cart-item-detail {
  display: flex;
  flex: 1;
  padding: 0 20px;
  flex-direction: column;
  color: white
}

.navbar .dropdown-toggle::after {
  content: "";
  display: inline-block;
  width: 0;
  color: white;
  vertical-align: middle;
  margin-left: 0.3em;
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
}

.badge {
  background-color: black;
  color: white;
  margin-left: 5px;
  height: 15px;
  display: inline-block;
}

.navbar-link-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-link {
  align-items: center;
  color: white;
  margin-right: 20px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: medium;
  text-align: center;
  justify-content: center;
  text-decoration: none;
}

.nav-link-left {
  margin-left: 150px;
}

.navbar-collapse {
  justify-content: flex-end;
}

.cart-image {
  margin-left: 200px;
}


