.navbar {
  background-color: #333333;
  box-shadow: 0 4px 4px #f2f2f2;
  padding: 20px;
  font-size: 1.1rem;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: left;
  letter-spacing: -1px;
  color: white
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-link {
  align-items: center;
  color: white;
  margin-right: 15px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: small;
  text-align: center;
  justify-content: center;
}

.nav-button-left {
  margin-left: 200px;
}

.navbar-collapse {
  justify-content: flex-end;
}

.cart-image {
  margin-left: 200px;
}


